body {
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
/* CSS for heading section */
.header {
  width: 100%;
  height: 200px;
  background-image: url("/images/BGimage.jpg");
  background-size: cover;
  background-position: center 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.header h1 {
  font-size: 2.5rem;
  margin-right: 1em;
}

.header h1,
.header .watchlistLink {
  position: relative;
  z-index: 2;
}

.watchlistLink {
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
/* CSS for search bar */
.searchSection {
  position: relative;
}

.searchContainer {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
}

.searchBoxWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: white;
  overflow: hidden;
  padding: 5px 0;
}

.searchIcon {
  padding: 10px;
  color: gray;
  background-color: white;
  border: none;
}

.searchBox {
  padding: 10px;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 0.8rem;
  flex: 1;
}

.searchButton {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #dde0e2;
  color: black;
  cursor: pointer;
  font-size: 0.8rem;
}
/* CSS for main / movie display area */
main {
  margin-top: 20px;
  position: relative;
}

#displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dfdddd;
  margin-right: 2em;
}

#startupDisplay {
  text-align: center;
  margin-top: 100px;
}

#startupDisplay img {
  width: 70px;
}

#startupDisplay p {
  font-size: 1rem;
}

.errorDisplay {
  margin-top: 200px;
  text-align: center;
}

/* CSS for movie Card */

.movieCard {
  display: flex;
  flex-direction: row;
  min-width: 95%;
  margin-left: 1em;
  margin-top: 2em;
  margin-right: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e7eb;
  color: black;
}

.movieCard p {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0;
}
.moviePoster {
  min-width: 99px;
  height: 147px;
  padding: 0.35em;
  border: 1px solid black;
}

.movieTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 1em;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.movieTop > h2 {
  margin-top: 0.2em;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 80%;
}

.addMovieBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 1em;
}

.removeMovieBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 1em;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.plus {
  color: white;
  font-size: 1.2rem;
}

.btnText {
  font-size: 0.8rem;
  color: black;
}

#moviePlot {
  margin-top: 1.8em;
  margin-left: 1em;
}

.watchlistMovies {
  margin-right: 1em;
}

.emptySection {
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

.magnifyWatchIcon {
  width: 80px;
}

.emptyWatchlist {
  font-size: 2em;
  text-align: center;
  margin: 0;
}

#modalBox {
  display: none;
  font-size: 1.5rem;
  font-weight: 400;
  height: 100px;
  width: 80%;
  margin-top: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movieBoard {
  width: 60px;
}
/* Media Queries */
@media (min-width: 768px) {
  .header {
    justify-content: space-evenly;
  }

  .header h1 {
    font-size: 3.5rem;
  }

  .header .watchlistLink {
    font-size: 1.5rem;
  }

  .movieCard {
    min-width: 100%;
    margin-left: 1em;
  }

  .movieTop {
    min-width: 100%;
    justify-content: space-between;
  }

  .moviePoster {
    margin-left: 2em;
  }

  .movieTop > p {
    margin-right: 100px;
  }
  .movieDetails {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
  }

  .movieDetails > * {
    margin-right: 1em;
  }

  #moviePlot {
    margin-left: 0;
  }
}

@media (min-width: 993px) {
  #displayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 3em;
    padding-right: 1em;
  }

  .movieCard {
    margin: 0.5em;
    margin-right: 1em;
    height: 200px;
    margin-bottom: 2em;
  }

  #startupDisplay {
    grid-column: span 2;
  }

  .errorDisplay {
    margin-top: 200px;
    margin-left: 60%;
    width: 80%;
    text-align: center;
  }

  #watchlistMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .header h1 {
    font-size: 4.5rem;
  }

  .header .watchlistLink {
    font-size: 2rem;
  }

  .searchContainer {
    width: 60%;
  }

  .searchIcon {
    width: 25px;
  }

  .searchBox {
    font-size: 1.2rem;
  }

  .searchButton {
    font-size: 1.2rem;
  }

  .errorDisplay {
    margin-top: 200px;
    margin-left: 60%;
    width: 80%;
    text-align: center;
  }

  #displayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 3em;
    margin-right: 2em;
  }

  #startupDisplay {
    text-align: center;
    grid-column: span 2;
  }

  #startupDisplay p {
    font-size: 2em;
  }

  .movieTop {
    margin-left: 0;
  }

  .movieCard {
    margin: 0.5em;
    height: 250px;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  .movieCard p {
    font-size: 1rem;
  }

  .movieDetails {
    margin-left: 0;
    text-align: left;
  }

  .moviePoster {
    margin-right: 2em;
    margin-bottom: 1em;
    min-height: 250px;
    min-width: 180px;
  }

  .btnText {
    font-size: 1rem;
  }

  #watchlistMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2em;
  }
}

@media (min-width: 1920px) {
  body {
    width: 100vw;
  }
  .header {
    justify-content: space-between;
    height: 250px;
  }

  .header h1 {
    font-size: 5.5rem;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  .header .watchlistLink {
    font-size: 2rem;
    margin-right: 1em;
  }

  .searchContainer {
    width: 50%;
  }

  #displayContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 3em;
    margin-top: 5em;
  }

  #startupDisplay {
    width: 150px;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  .errorDisplay {
    margin: 0;
    margin-top: 100px;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  #startupDisplay p {
    font-size: 2em;
  }

  .movieCard {
    margin: 0.5em;
    margin-right: 4em;
    justify-content: space-between;
    height: 350px;
  }

  .movieTop {
    margin-left: 2em;
  }
  .movieTop > h2 {
    font-size: 1.8rem;
    margin-right: 1em;
    max-width: 60%;
  }
  .movieCard p {
    font-size: 1.1rem;
  }

  .moviePoster {
    margin-right: 1em;
    min-height: 250px;
    min-width: 160px;
    max-width: 160px;
  }

  .movieDetails {
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 2em;
  }

  .btnText {
    font-size: 1.3rem;
  }

  #watchlistMovies {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #watchlistMovies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 2em;
  }
}
