body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* CSS for heading section */
.header {
  width: 100%;
  height: 200px;
  background-image: url("/images/BGimage.jpg");
  background-size: cover;
  background-position: center 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.header h1 {
  font-size: 2, 5rem;
  margin-right: 1em;
}

.header h1,
.header .watchlist-link {
  position: relative;
  z-index: 2;
}

.watchlist-link {
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}
/* CSS for search bar */
.searchSection {
  position: relative;
}

.search-container {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
}

.search-box-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: white;
  overflow: hidden;
  padding: 5px 0;
}

.search-icon {
  padding: 10px;
  color: gray;
  background-color: white;
  border: none;
}

.search-box {
  padding: 10px;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  flex: 1;
}

.search-button {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #dde0e2;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
/* CSS for main / movie display area */
main {
  margin-top: 20px;
}

#displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dfdddd;
}

#startup-display {
  text-align: center;
  margin-top: 200px;
}

.errorDisplay {
  margin-top: 200px;
  width: 80%;
  text-align: center;
}

/* CSS for movie Card */

.movie-card {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e7eb;
  color: black;
}

.movie-card p {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0;
}
.movie-poster {
  width: 99px;
  height: 147px;
}

.movie-top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 1em;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.movie-top > h2 {
  margin-top: 0.2em;
  margin-right: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}

.add-movie-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 1em;
}

.remove-movie-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 1em;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.plus {
  color: white;
  font-size: 18px;
}

.btn-text {
  font-size: 0.8rem;
  color: black;
}

#movie-plot {
  margin-top: 1.8em;
  margin-left: 1em;
}
